---
layout: home
title: Home
---

<div class="home">
  {% if paginator.posts %}
    <ul class="post-list">
      {% for post in paginator.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
        {% endif %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</div> 